body {
  background: black;
}
.container {
  max-width: 1000px;
  margin: auto;
  padding: 40px 0 0;
}

.game {
  width: 800px;
  height: 450px;
  background: white;
  margin: auto;
  position: relative;
}

.player {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: transparent url("./../images/player.gif") center center no-repeat;
}

.platform {
  background: black;
  position: absolute;
}

.clock {
  font-size: 16px;
  color: #555;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
}

.meta {
  @include flex-row-at(0);
  @include flex-justify(space-between);
  @include flex-align(center);
  font-size: 16px;
  color: #555;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.game-over {
  width: 800px;
  height: 450px;
  background: black;
  margin: auto;
  position: relative;
  text-align: center;
  color: white;
  @include flex-row-at(0);
  @include flex-justify(center);
  @include flex-align(center);
  @include flex-wrap;
}

.game-over-head {
  font-size: 72px;
  width: 100%;
}